[run]
branch = True
source = src/flask_rpbac
omit =
    */site-packages/*
    */tests/*
    */__pycache__/*
    *test_*.py
    def __repr__

[report]
fail_under = 90
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    raise NotImplementedError

[html]
directory = htmlcov

[xml]
output = coverage.xml
